html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background-color: rgb(6, 72, 122);
  width: 100%;
  max-width: 2200px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container .historial-container {
  display: flex;
  flex-direction: column; /* Cambiado a column para alinear verticalmente */
  background-color: rgb(73, 71, 71);
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  margin: 30px 20px;
  padding: 30px;
  border: 3px solid black;
}

.container .historial-container .text h1 {
  padding: 10px 100px 10px 20px;
  border: 1px solid black;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
}

.container .historial-container .text h2 {
  padding: 5px 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(73, 71, 71);
}

.historial-container {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  height: 84%; /* Utiliza toda la altura disponible */
  background-color: rgb(73, 71, 71);
  overflow-y: auto;
  border-radius: 10px 0 0 10px;
}

.chat-container {
  display: flex;
  flex: 1; /* Utiliza todo el espacio restante */
  background-color: rgb(73, 71, 71);
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  height: 90%; /* Utiliza toda la altura disponible */
  margin: 30px 20px;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 0px 60px;
  overflow: hidden; /* Oculta el desbordamiento de contenido */
}

#chat-window {
  flex: 1;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 100%; /* Ocupa toda la altura disponible */
}

.chat-container .header {
  display: flex;
  align-items: center;
}

.chat-container .header .img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-container .header .right {
  margin-left: 10px;
}

.chat-container .header .right .name {
  font-weight: 500;
  font-size: 1.3em;
}

.chat-container .header .right .status {
  font-size: 0.8em;
  color: #08b428;
  font-weight: 500;
}

.chat-container .message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bot-message {
  width: fit-content;
  text-align: justify;
  background-color: rgb(154, 152, 152);
  font-size: 1.1em;
  border-radius: 10px;
  padding: 25px;
  margin-right: 100px;
  margin-bottom: 0px;
}

.user-message {
  width: fit-content;
  margin-left: auto;
  padding: 25px;
  text-align: right;
  background: #1e5eac;
  color: #000000;
  font-style: 1.1em;
  border-radius: 10px;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}

#message-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
}

.user-message img,
.bot-message img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

#image-upload-label {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  color: #000;
}

#image-input {
  display: none;
}

#message-form input[type="text"] {
  width: 100%;
  padding-right: 40px; /* espacio para el ícono */
}

#message-form input[type="file"] {
  display: none;
}

.bx {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
}

#message-form button {
  margin-left: 10px;
}

#message-form {
  display: flex;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: rgb(73, 71, 71);

}

#message-form button {
  padding: 7px 20px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#message-form button:hover {
  background-color: #0056b3;
}

/* Estilo para el campo de entrada cuando está en autofill en navegadores basados en WebKit (Chrome, Safari, Edge) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Estilo para el campo de entrada cuando está en foco */
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border-color: none; /* Color del borde cuando está en foco */
}
